<section>
    <div class="search-product-area">
        <div class="product-area">
            <div class="product-list">
                @for (int i = 0; i < 8; i++)
                {
                    <div class="product-sector">
                        <img src="~/img/188529538.jpg">
                        <a href="#">123</a>
                        <p class="price">123</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>